html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

.navbar {
  margin: 30px 0;
}

.navbar-nav .nav-link {
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

.icone-nav {
  height: 40px;
  margin-right:40px;
}


.card-linha-logo {
 width: 1320px;
 margin-top: -30px;
}

.card-linha-logo .logo-nav {
  margin: 0px 0 17px 15px;}

.card-linha-logo img {
  height: 150px;
}

.linha-nav-esquerda,
.linha-nav-direita {
  width: 50%;  
  border-top: 2px solid #333;
  margin: 0;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url('https://img.icons8.com/ios-filled/50/000000/menu.png');
}

@media (max-width: 992px) {
  .navbar.d-lg-flex {
    display: none !important;
  }

.card-linha-logo {
 width: 310px;
}

  .navbar-collapse {
    text-align: center;
  }

  .card-linha-logo {
    margin-top: 20px;
  }

  .linha-nav-esquerda,
  .linha-nav-direita {
    width: 40%;
  }

  .logo-nav {
    height: 80px;
  }
}

/* Carrosel superior com  3 imagens em slide */

#carouselExampleIndicators {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.carousel-inner {
  overflow: hidden;
  height: 440px;
}

.carousel-inner img {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #aeaeae;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.carousel-control-prev-icon {
  margin-right: 100px;
}

.carousel-control-next-icon {
  margin-left: 100px;
}

@media (max-width: 576px) {
  .carousel-inner {
    height: 250px; 
  }
  .carousel-inner img {
    height: 300px;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 35px; 
    height: 35px;
  }

  .carousel-control-prev-icon {
    margin-right: 15px;
  }

  .carousel-control-next-icon {
    margin-left: 15px;
  }
}

/* Botão WhatsAap */

.whatsapp-button {
  position: fixed;
  bottom: 150px;
  right: 40px;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: #25d366;
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.whatsapp-icon {
  width: 40px;
  height: auto;
}

.line-icon {
  width: 2px;
  height: 40px;
  margin: 0 10px;
  background-color: #fff;
}

.whatsapp-text {
  font-size: 16px;
  color: white;
  font-weight: bold;
  white-space: nowrap;
}

/* Serviços */

.services-section {
  padding: 40px 0;
}

.services-section > div {
  display: flex;
  justify-content: center;
}

.card-title {
  margin-bottom: 15px;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}

.card-servicos {
  min-width: 310px;
  border: 1px solid black;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-servicos img {
  width: 80px;
}

@media (max-width: 768px) {
  .card-servicos {
    min-width: 240px;
    margin: 10px;
    height: 270px;
  }

  .row {
    display: flex;
    justify-content: flex-start; 
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
  }

  .services-section > div {
    display: flex;
    justify-content: start;
  }

  .col-md-2 {
    flex: 0 0 auto;
  }

  .services-section {
    padding: 30px 0 20px 0;
  }
}

.card-img-top {
  object-fit: cover;
  height: 300px;
}

.card-historia p {
  font-family: "Inder, arial";
}

@media (max-width: 768px) {
  .row.d-flex {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
  }

  .col-4 {
    flex: 0 0 auto; 
    margin-right: 10px; 
  }

  .card-item {
    width: 250px; 
    height: 300px;
  }

  .card-img-top {
    object-fit: cover; 
    width: 100%; 
    height: 100%; 
  }

  .card-novos-itens {
    margin-left: 0 !important;
  }
}


/* Vantagens da consultoria */

.card-consultoria-imagem {
  height: 360px;
  width: 1300px;
  background-size: cover;
  background-image: url("assets/imagemIlustrativaMoldura4.svg");
}

.card-vantagens-consultoria {
  background-color: #d9d9d9;
  padding: 30px 40px;
  width: 35%;
}

.card-vantagens-consultoria h3 {
  color: black;
}

@media (max-width: 768px) {
  .card-consultoria-imagem {
    height: 350px; 
  }

  .card-vantagens-consultoria {
    width: 60%; 
    padding: 15px; 
    height: 270px;
    margin-left: 20px !important;
  }

  .card-vantagens-consultoria h3 {
    font-size: 1.5rem !important; 
  }

  .card-text {
    font-size: 0.9rem !important; 
  }
  
}

@media (max-width: 767px) {
  .historia-titulo {
    font-size: 2rem; 
  }

  .historia-texto {
    font-size: 1rem;
  }

  .historia-imagem {
    width: 100%; 
    height: auto; 
  }
}


/* Localização - página inicial */
.mapaIframe {
  padding: 30px 0;
}

.mapaIframe h2 {
  font-size: 2.5rem;
}

/* Footer */

footer {
  background-color: #d9d9d9;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 0;
}

.footer-logo {
  flex: 1;
}

.footer-logo img {
  width: 300px;
  height: auto;
}

.footer-content {
  flex: 2;
}

footer-content h1 {
  font-size: 2.5rem;
}

.footer-link-coluna h3 {
  font-size: 1.25rem;
  margin: 20px 0;
}

footer hr {
  width: 96%;
  margin: 0 auto;
}

hr {
  height: 1px;
  background-color: black !important;
  opacity: 1;
}

.footer-outros {
  padding: 0 20px;
}

.footer-outros img {
  width: 20px;
  height: auto;
}