/* Menu de navegação */
.navbar {
  margin-top: 65px
}

.navbar-nav .nav-link {
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

.navbar-nav .nav-link {
  position: relative;
  color: #000;
}

.navbar-nav .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 8px;
  background-color: #f00e0e;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#carouselExampleIndicators {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.carousel-inner {
  overflow: hidden;
  height: 440px;
}

.carousel-inner img {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #aeaeae;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.carousel-control-prev-icon {
  margin-right: 100px;
}

.carousel-control-next-icon {
  margin-left: 100px;
}

hr {
  height: 1px; 
  background-color: black !important; 
  opacity: 1; 
  margin: 20px 0; 
}

.custom-hr {
  border: 1px solid black;
  width: 25%; 
}

.whatsapp-button {
  position: fixed;
  bottom: 150px; 
  right: 40px; 
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: #25d366; 
  border-radius: 50px;
  padding: 10px 20px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  text-decoration: none;
}

.whatsapp-icon {
  width: 40px;
  height: auto;
}

.line-icon {
  width: 2px; 
  height: 40px; 
  margin: 0 10px; 
  background-color: #fff; 
}

.whatsapp-text {
  font-size: 16px;
  color: white;
  font-weight: bold;
  white-space: nowrap;
}

section h2 {
  font-weight: bold;
}

/* Localização */
.mapaIframe {
  padding: 30px 0;
}

.mapaIframe h2 {
  font-size: 2.5rem;
  /* margin-bottom: 50px; */
}