nav {
  margin-top: 80px;
}

.imagem-fixa {
  width: 100%; 
  max-width: 220px; 
  height: 220px; 
  object-fit: cover;
  margin: 20px auto 0;
}

.card {
  border: 1px solid #000;
  text-align: center;
  width: 90%; 
  padding: 8px;
  max-width: 280px; 
  margin: 0 auto; 
  border-radius:0 ;
}

.card p {
  font-weight: bold;
}

.row {
  justify-content: center;
}

@media (max-width: 576px) {
  .imagem-fixa {
    margin: 0;
  }
  .card-body {
    margin-top: 10px;
    padding: 0 !important;
  }
 }